.property-listing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin: 40px 40px;
    height: 500px
}


.property {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.property h2{
    margin-top: 30px;
    margin-bottom: 15px;

}
.property .price{
    font-size: 24px;
    color:#3c3c3c
}


.property:hover {
    transform: translateY(-5px);
}

.property img {
    max-width: 100%;
}

.price {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #440000;
}

/* Estilo para o container da barra de pesquisa */
.search-container {
    display: flex;
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
    height: 80px; /* Altura da barra de pesquisa */
}

/* Estilo para a caixa de entrada de pesquisa */
.search-input {
    padding: 10px; /* Espaçamento interno para a caixa de entrada */
    border: 1px solid #ccc; /* Borda da caixa de entrada */
    border-radius: 4px; /* Cantos arredondados */
    outline: none; /* Remove o contorno padrão ao focar */
}

/* Estilo para o botão de pesquisa */
.search-button {
    padding: 10px 20px; /* Espaçamento interno para o botão */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 4px; /* Cantos arredondados do botão */
    cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
}

/* Estilização quando o botão é hover (passar o mouse por cima) */
.search-button:hover {
    background-color: #0056b3; /* Cor de fundo alterada no hover */
}