*{
    padding: 0;
    border: none;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    width: 85%;
    margin: 0 auto;
}
 
/* Estilando o Header */
#header {

    width: 100%;
    height: 27vh;
    max-height: 90px;
    min-height: 100px;

    background-color: #ffffff;
    border-bottom: 1px solid rgb(173, 173, 173);

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -10px;
}

#logo {
    width: 15.6875rem;
    height: 1.56194rem; 
    margin-left: 7.44rem;
}

#logo img {
    width: 7.22056rem;
    position: absolute;
    float: left;
    
}

#logo h1, h2 {
    position: relative;
    left: 13px;
    float: right;
}

#logo h1 {
    color: #000000;
    font-size: 1.60156rem;
    font-weight: 700;
    line-height: 1.31869rem; /* 77.5% */
    letter-spacing: 0.27225rem;
}

#logo h2 {
    margin-top: 12px;
    color: #7D7979;
    font-size: 1.60156rem;
    font-weight: 300;
    line-height: 1.02094rem; /* 60% */
    letter-spacing: 0.32331rem;
}

.navegação {
    padding-top: 20px;
    margin-left: 36rem;
}

.navegação a {
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.20869rem; /* 147.222% */
    text-decoration-line: none;
    padding: 0 0.51rem;
    

}

.navegação a:hover {
    background-color: #A00C0C;
    color: white;
    border-radius: 2px;
    
}

.btn_login {
    border-radius: 2px;
    border: 0.5px solid #00000093;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 6rem;
    margin-top: 1rem;

    cursor: pointer;
}

.btn_login:hover {
    border: 1px solid #9A1B1B;
}

.btn_login span {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1.5rem; /* 133.333% */
    padding: 0.7rem 1.7rem;

}

 /* Estilos para o menu dropdown */
 .menu-dropdown {
    position: relative;
    display: inline-block;
}

.menu-dropdown .submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-dropdown:hover .submenu {
    display: block;
}

/* Estilos para os itens do submenu */
.menu-dropdown .submenu li {
    padding: 10px;
}

.menu-dropdown .submenu li a {
    text-decoration: none;
    color: #000;
    display: block;
}

.menu-dropdown .submenu li:hover {
    background-color: #f0f0f0;
}
.menu-dropdown .submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none; /* Remove o marcador de lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
    margin: 0; /* Remove a margem padrão da lista */
}

/* Estilando o Footer das paginas */

.footer {
    background: #333;
    color: #fff;
    height: 50vh;
    display: flex;
    flex-direction: row;
    padding: 70px;
    gap: 90px;
}

/* Logo do rodapé */
.footer #logo_footer {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

.footer #logo_footer img {
    width: 119px;
    height: 119px;
}

.footer span {
    font-weight: 200;
    font-size: 15px;
}

/* sobre a Melhem */
.footer #sobre_melhem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer #sobre_melhem h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer #sobre_melhem span {
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-weight: 400;
}

/* Localização */
.footer #localizacao {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer #localizacao h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer #localizacao span {
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-weight: 400;
}

/* Contattos */
.footer #contatos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer #contatos h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer #contatos h4 {
    font-size: 16px;
    font-weight: 600;
}

.footer #contatos span {
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-weight: 400;
}

/* Segue a gente */
.footer #segue_gente {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer #segue_gente h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}