/* EStilazanção da pesquisa de imoveis */
#main-search {
    width: 100%;
    margin: 0 auto;
    max-width: 3000px;
 }

#conteiner-search {
    padding: 20px;
    background: #f5f5f5 url(../images/mulher-background-sbg.png) no-repeat center;
    background-size: cover;
    background-color: #f5f5f5 ;
}

#box-search {
    width: 32.4rem;
    height: 34.25rem;
    background: #ffffff;
    margin: 0 auto; /* Centraliza horizontalmente */
    position: relative;
    right: 250px;
    border-radius: 10px;
    box-shadow: 7px 7px 6px 3px #2828284b;
    z-index: 0;
    padding: 30px 42px 30px 43px;
}

#box-search h1 {
    color: #000000;
    font-size: 40px;
    font-weight: 600;
    line-height: 45.5px;
    letter-spacing: 5px;
}

#box-search .text_meio {
    letter-spacing: 2.2px;
}

#box-search .text_voce {
    color: #000000;
    letter-spacing: 2.2px;
}

#box-search .text_inicio {
    letter-spacing: 2.2px;
}


#main-search #box-search button {
    color: #A39A9A;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px; /* 90% */
    letter-spacing: 1.5px; 

    margin: 25px 25px 10px 0;
    text-decoration: none;
    background: none;

    cursor: pointer;
}

.btn-selected {
    color: #000000;
    font-weight: 700;
    border-bottom: 5px solid #000000;
    padding-bottom: 5px;

}


/* estilizando o formulario da pesquisa */
#form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 18px;
}

#form  select {
    height: 86px;
    border: 1px solid #000;
    padding-left: 37px;
    color: #848484;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px; /* 120% */
    letter-spacing: 0.3px;

    border: 1px solid #C3B2B2;
}

#form  select:focus {
    outline: 1px solid #212E61;
    border: none;
}

#form #aluguel-quartos, select {
   display: flex;
   flex-direction: row;
   gap: 18px;
   width: 100%;
}

#btn-enviar{
    height: 60px;
    background-color: #A00C0C;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 26.5px; /* 147.222% */
    letter-spacing: 4.95px;

    transition: background-color 0.2s ease;
    cursor: pointer;
}

#btn-enviar:hover {
    background-color: #860c0c;
}
/* estilando o conteudo da pagina inicial */

main {
    background-color: #fff;
}

/* Resumos */
#resumos {
    height: 100vh;

    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 150px;
    padding: 50px;

    background-color: #c0cdff;
}

#card-resumo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: #fff;

    width: 300px;
    height: 300px;
    padding: 23px;
    border-radius: 2px;
    transition: all 1s ease;
}

#card-resumo:hover {
    box-shadow: 5px 3px 10px #00000033;
    transform: scale(1.10);
}

#resumos h3 {
    color: #000000;
    font-size: 22px;
    font-weight: 700;
}

#resumos p {
    text-align: justify;
    color: #1b1b1b;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    margin-top: 20px;
}

#resumos button {
    width: 100%;

    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #fff;
    background-color: #212E61;
    
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;

    cursor: pointer;
    transition: all 300ms ease;
}

#resumos button:hover {
    transform: scale(1.05);
    background-color: #b62020;
    color:white;
}



/* Quem Somos Nós */
#quem-somos {
    margin-top: 100px;
}

#quem-somos h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 42px;
}

#quem-somos p {
    width: 544px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    margin-top: 26px;
}

#quem-somos a {
    margin-top: 5px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

#quem-somos a:hover {
    text-decoration: underline;
}

#quem-somos #images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 54px;
}

#quem-somos img {
    height: 400px;
    width: 280px;
}

.margin {
    margin-top: 60px;
}

/* Experimente sua jornada de compra ou venda de casa conosco */
#experimente {
    margin-top: 200px;
}

#experimente h1 {
    width: 700px;

    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 105% */
}

#experimente img {
    width: 620px;
    height: 298px;
}

#experimente .conteiner-img-r {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#experimente p {
    text-align: justify;
    line-height: 30px;
    font-size: 18px;
}

#experimente .conteiner-img-r p {
    width: 437px;
    align-self: center;
}

#experimente .conteiner-img-l {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 54px 0;
}

#experimente .conteiner-img-l p {
    width: 437px;
    align-self: center;
}

/* Imóveis em Destaque */
#imoveis-destaque {
    margin-top: 200px;
}

#conteiner-destaques {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px 40px;
    margin: 30px 0 34px 0;
}

.property {
    width: 260px;
    height: 355px;
    display: flex;
    flex-direction: column;

    border: 0.5px solid #d3d3d3;
    background-color: #fff;

    cursor: pointer;
}

.property:hover {
    box-shadow: 3px 3px 10px #00000049;
    transform: scale(1.03);
    transition: 200ms ease-in;
}

.property a {
    text-decoration: none;
    color: #000;
}

.property img {
    max-width: 100%;
}

.property .descricao {
    padding: 15px;
}

.property .line-1 {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 300;
}

.property .type-negocio {
    font-weight: 500;
}

.property h3 {
    margin-top: 13px;
    font-size: 18px;
}

.property .cidade {
    font-size: 12PX;
    font-weight: 300;
}

.property .caracteristicas {
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin: 13px 0;
    font-size: 14px;
    color: #707070ee;
}

.property .aluguel-de {
    font-size: 13px;
    font-weight: 300;
}

.property .price {
    color: #0f9625;
    display: block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* navegação destaques */
#navegacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;

}

#navegacao button {
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    background: none;
}

#navegacao .btn-arrow {
    background-color: #333;
    padding: 9px;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
}

#navegacao .btn-arrow:hover {
    background-color: #585858;
}

#navegacao #buttons button {
    padding: 9px;
    border-radius: 3px;
}

#navegacao #buttons button:hover {
    background-color: #333;
    color: #fff;
}

/* escondendo o conteudo para fazer o scroll reveal */

#resumo1, #resumo2, #resumo3, #quem-somos, #experimente {
    visibility: hidden;
}