#background_search {
    width: 100%;
    position: absolute;
    height: 726px;
    float: left;
}

#main_search {
    width: 100%;
    margin: 0 auto;
    max-width: 3000px;
 }

#conteiner_search {
    padding: 30px;
    background: #f5f5f5 url(../images/mulher-background-cortada.png) no-repeat right ;
    background-color: #f5f5f5;
}

.box_search {
    width: 32.4rem;
    height: 35.25rem;
    background: #ffffff;
    margin: 0 auto; /* Centraliza horizontalmente */
    position: relative;
    right: 250px;
    border-radius: 10px;
    box-shadow: 7px 7px 6px 3px #2828284b;
    z-index: 0;
    padding: 30px 42px 30px 43px;
}

.box_search h1 {
    color: #818080;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 45.5px;
    letter-spacing: 5.5px;
}

.box_search .text_meio {
    letter-spacing: 2.2px;
}

.box_search .text_voce {
    color: #363636;
    letter-spacing: 2.2px;
}

.box_search .text_inicio {
    letter-spacing: 2.2px;
}


#btn_alugar, #btn_comprar {
    color: #A39A9A;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px; /* 90% */
    letter-spacing: 1.5px; 
    position: relative;
    top: 37px;
    padding-right:25px;
    text-decoration: none;
}

#btn_alugar {
    color: #3F3D3D;
    font-weight: 600;
}

#linha {
    width: 100%;
    position: relative;
    top: 50px;
    border-bottom: 1px solid #0000002c;
}

/* estilizando o formulario da pesquisa */
#form {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 18px;
}

#form  select {
    height: 86px;
    border: 1px solid #000;
    padding-left: 37px;
    color: #848484;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px; /* 120% */
    letter-spacing: 0.3px;

    border: 1px solid #C3B2B2;
}

#form  select:focus {
    outline: 0.5px solid #818181;
}

#form #aluguel-tamanho, select {
   display: flex;
   flex-direction: row;
   gap: 18px;
   width: 100%;
}

#btn-enviar{
    height: 60px;
    background-color: #6b6a6a;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 26.5px; /* 147.222% */
    letter-spacing: 4.95px;
    cursor: pointer;
}
#btn-enviar:hover{
    background-color: #ff0000;
    color: #fff;
}
/* estilando o conteudo da pagina inicial */

main {
    background-color: #fff;
}

/* Resumos */
#resumos {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 209px;
    margin: 54px 0;
}

#resumos h3 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

#resumos p {
    color: #1d1d1d;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    margin-top: 20px;
}

#resumos button {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #fff;
    background-color: #333333;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
}

#resumos button:hover {
    background-color: #ff0000;
    color:white;
}



/* Quem Somos Nós */
#quem-somos h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 42px;
}

#quem-somos p {
    width: 544px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    margin-top: 26px;
}

#quem-somos #imagens {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 54px;
}

.margin {
    margin-top: 60px;
}

/* Experimente sua jornada de compra ou venda de casa conosco */
#experimente h1 {
    width: 800px;

    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 105% */
}

#experimente .conteiner-img-r {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#experimente .conteiner-img-r p {
    width: 437px;
    align-self: center;
}

#experimente .conteiner-img-l {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 54px 0;
}

#experimente .conteiner-img-l p {
    width: 437px;
    align-self: center;
}

/* Imóveis em Destaque */
#conteiner-destaques {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    margin: 50px 0 54px 0;
}

.property {
    max-width: 280px;

    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.property h2 {
    margin-top: 30px;
    margin-bottom: 15px;

}

.property .price {
    font-size: 24px;
    color: #3c3c3c
}


.property:hover {
    transform: translateY(-5px);
}

.property img {
    max-width: 100%;
}

.price {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff0000;
}